* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.imgg {
  width: 100%;
  height: 16rem;
  padding: 1rem;
}

.price {
  margin: 4px;
}

.cards {
  cursor: pointer;
}

.select-images {
  width: 100%;
  height: 16rem;
  padding: 1rem;
}
.select-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.sfooter {
  position: sticky;
  bottom: 0;
  background-color: red;
}

.chosen-img {
  width: 100%;
  padding: 1rem;
  height: 400px;
}
.description {
  text-align: justify;
}

@media only screen and (max-width: 650px) {
  .paper-select {
    flex-direction: column;
  }
  .select-img-container {
    padding-left: 6rem;
    padding-right: 6rem;
    max-width: "";
  }
  .select-info-container {
    max-width: "";
  }
  .cart-select {
    flex-direction: column;
    align-items: center;
  }
  .info-paper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgg {
    width: 20rem;
    height: 18rem;
  }
}

@media only screen and (min-width: 650px) {
  .select-img-container {
    max-width: 40%;
  }
  .select-info-container {
    max-width: 60%;
  }
  .button-container {
    margin-top: 7rem;
  }
}

.str {
  cursor: pointer;
}

.cart-images {
  width: 16rem;
  height: 14rem;
  padding: 1rem;
}
